body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image:     linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/main.jpeg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}

.section-padding {
	padding:128px 16px;
}

.project-section-padding {
	padding:128px 48px;
}

.cards-padding {
	padding: 64px 12px;
}

.card {
	position: relative;
	padding: 0px 0px;
	margin: 12px 12px;
}

.section-margin {
	margin-top:64px;
}

.header-padding {
	padding:48px;
}

.header-icon-padding {
	padding:24px 48px;
}

.light-teal,.w3-hover-light-teal:hover {
    color:#000!important;background-color:#66b2b2!important
}

.border-teal,.hover-border-teal:hover{border-color:#008080!important}
.text-teal,.hover-text-teal:hover{color:#008080!important}
.teal,.hover-teal:hover{color:#fff!important;background-color:#008080!important}

.dark-teal,.w3-hover-dark-teal:hover {
    color:#000!important;background-color:#004F4F!important
}

a:link {
    text-decoration: none;
}

.row {
    display: flex;
}

@media (max-width:600px){
	.row {
		display: block;
	}
}

figure {
	margin:0em 0px;
}

.imagefade {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
}

.overlay {
	background-color: #004F4F;
}

.card:hover .overlay {
  opacity: 1;
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 3rem;
    color: #fff;
    z-index: 1;
}

.top-bar{
	position:static;
	width:100%;
	z-index:1
	}
.top-bar {
	top:0
	}