body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/mac.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}

.section-padding {
	padding:128px 16px;
}

.project-section-padding {
	padding:128px 128px;
}

.card-padding {
	padding: 12px 12px;
}

.section-margin {
	margin-top:64px;
}

.header-padding {
	padding:48px;
}

.header-icon-padding {
	padding:24px 48px;
}

.light-teal,.w3-hover-light-teal:hover {
    color:#000!important;background-color:#66b2b2!important
}

.border-teal,.hover-border-teal:hover{border-color:#008080!important}
.text-teal,.hover-text-teal:hover{color:#008080!important}
.teal,.hover-teal:hover{color:#fff!important;background-color:#008080!important}